*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/*The above is the boiler plate CSS for all my apps*/

/*Styling for body tag*/
body{
    height: 110vh;
    justify-content: center;
    background: rgb(144, 145, 216);
    align-items: center;
    display: flex;
}
/*Style for class skill*/
.skill{
    position: relative;
    height: 155px;
    width: 155px;
}
/*Styling for class called outer*/
.outer{
    height: 155px;
    width: 155px;
    padding: 20px;
    border-radius: 50%;
    /*border: 1px solid black; and add box shadow to show shadow in outer circle*/ 
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.15),
                -5px -5px 10px -1px rgba(255, 255, 255, 0.7)
}
.inner{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    /*border: 1px solid black; and add inside box shadow*/
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2);



}