*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/*The above is the boiler plate CSS for all my apps*/

/*Styling for body tag*/
body{
    height: 110vh;
    justify-content: center;
    background: rgb(144, 145, 216);
    align-items: center;
    display: flex;
}