*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/*The above is the boiler plate CSS for all my apps*/

/*Styling for body tag*/
body{
    height: 110vh;
    justify-content: center;
    background: rgb(144, 145, 216);
    align-items: center;
    display: flex;
}
/*Style for class skill*/
.skill{
    position: relative;
    height: 155px;
    width: 155px;
}
/*Styling for class called outer*/
.outer{
    height: 155px;
    width: 155px;
    padding: 20px;
    border-radius: 50%;
    /*border: 1px solid black; and add box shadow to show shadow in outer circle*/ 
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.15),
                -5px -5px 10px -1px rgba(255, 255, 255, 0.7)
}
.inner{
    height: 115px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /*border: 1px solid black; and add inside box shadow*/
    box-shadow: insert 3px 3px 5px -1.5px rgba(0,0,0,0.2),
                insert -3px -3px 5px -1.5px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 10px 8px -12px rgba(0, 0, 0, 0.05);
}
/*Decorate ID*/
#number{
    color:#302121;
    font-weight: 550px;
}

/*Add CSS for svg file in the circle tag*/
circle{
    stroke: url(#GradientColor);/*Gives it more than one color*/
    fill: none;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
svg{
    position: absolute;
    left: 0;
    top: 0;
}
/*Add keyframe for anim*/
@k